body {
    background-image: url("../img/PayrollPresentation23.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Reem Kufi', sans-serif;
}

.navbar-fixed {
  height: 150px
}

material-icons {
  font-size: 60px
}

.border {
  border:1px solid lightslategray;
  padding: 20px;
  background-color: rgba(255,255,255,.4);
}

.blueHeader {
  background-color: rgb(64,196,255);
  padding: 15px;
  color: white;
  text-align: center;
}

.textBlue {
  color: #40c4ff;
}

.picker__date-display, .picker__weekday-display{
  background-color: #40c4ff;
}

div.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
  background-color: #40c4ff;
}

button.picker__today, button.picker__close {
  color: #40c4ff;
}

.fc-month-button {
  background-color: #40c4ff;
  color: white;
}

h2 {
  text-align: center;
  font-size: 30px;
}

td {
  text-align: center;
}

#payrollcycle {
  text-align: center;
}

#prevButtonFloat {
  float: left;
}
#currentPayrollTitle {
  float: left;
  width: 85%;
}
#nextButtonFloat {
  float: right;
}

.fc-day-number {
  border-right:1px solid black !important;
  float: left;
  text-align: left;
  width: 14.2%;
}

.fc-day-header {
  float: left;
  width: 14.2%;
}

.clockinbuttons {
  float: left;
}

.fc-today {
  color: #40c4ff !important;
}

.fc-event-container {
  float: left;
  width: 14.2%;
  text-align: left;
}