a, h1, h2, h3, h4, h5, p, button, th, td {
  font-family: 'Reem Kufi', sans-serif;
}

body {
    background-image: url("../img/iStock-185921327.jpg");
    background-attachment: fixed;
}

.navbar-fixed {
  height: 150px
}

material-icons {
  font-size: 60px
}

#clockin_border {
  border:1px solid lightslategray;  
  padding: 20px;
  background-color: rgba(255,255,255,.4);
}

#schedule_border {
  border:1px solid lightslategray;  
  padding: 20px;
  background-color: rgba(255,255,255,.4);
}

#worksegment_border {
  border:1px solid lightslategray;  
  padding: 20px;
  background-color: rgba(255,255,255,.4);
}

#timeoffform_border {
  border:1px solid lightslategray;  
  padding: 20px;
  background-color: rgba(255,255,255,.4);
}

#timeoffsegment_border {
  border:1px solid lightslategray;  
  padding: 20px;
  background-color: rgba(255,255,255,.4);
}

#signin_border {
  border:1px solid lightslategray;
  padding: 20px;
  background-color: rgba(255,255,255,.4);
}

#signup_border {
  border:1px solid lightslategray;
  padding: 20px;
  background-color: rgba(255,255,255,.4);
}

.blueHeader {
  background-color: rgba(64,196,255,.6);
  padding: 15px;
  color: white;
  text-align: center;
}

.textBlue {
  color: #40c4ff;
}

.picker__date-display, .picker__weekday-display{
  background-color: #40c4ff;
}

div.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
  background-color: #40c4ff;
}

button.picker__today, button.picker__close {
  color: #40c4ff;
}

h2 {
  text-align: center;
  font-size: 30px;
}

td {
  text-align: center;
}

#payrollcycle {
  text-align: center;
}