a, h1, h2, h3, h4, h5, p, button, th, td {
  font-family: 'Reem Kufi', sans-serif;
}

body {
    background-image: url("../img/iStock-185921327.jpg");
    background-attachment: fixed;
}

.navbar-fixed {
  height: 150px
}

material-icons {
  font-size: 60px
}

#clockin_border {
  border:1px solid lightslategray;  
  padding: 20px;
  background-color: rgba(255,255,255,.4);
}

#schedule_border {
  border:1px solid lightslategray;  
  padding: 20px;
  background-color: rgba(255,255,255,.4);
}

#worksegment_border {
  border:1px solid lightslategray;  
  padding: 20px;
  background-color: rgba(255,255,255,.4);
}

#timeoffform_border {
  border:1px solid lightslategray;  
  padding: 20px;
  background-color: rgba(255,255,255,.4);
}

#timeoffsegment_border {
  border:1px solid lightslategray;  
  padding: 20px;
  background-color: rgba(255,255,255,.4);
}

#signin_border {
  border:1px solid lightslategray;
  padding: 20px;
  background-color: rgba(255,255,255,.4);
}

#signup_border {
  border:1px solid lightslategray;
  padding: 20px;
  background-color: rgba(255,255,255,.4);
}

.blueHeader {
  background-color: rgba(64,196,255,.6);
  padding: 15px;
  color: white;
  text-align: center;
}

.textBlue {
  color: #40c4ff;
}

.picker__date-display, .picker__weekday-display{
  background-color: #40c4ff;
}

div.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
  background-color: #40c4ff;
}

button.picker__today, button.picker__close {
  color: #40c4ff;
}

.fc-today {
  opacity: 0;
  border: none;
}

#payrollcycle {
  text-align: center;
}

/* Styling for each event from Schedule */
.fc-time-grid-event.fc-v-event.fc-event {
  border-radius: 4px;
  border: none;
  padding: 5px;
  opacity: .65;
  left: 5% !important;
  right: 5% !important;
}

/* Bolds the name of the event and inherits the font size */
.fc-event {
  font-size: inherit !important;
  font-weight: bold !important;
}

/* Remove the header border from Schedule */
.fc td, .fc th {
  border-style: none !important;
  border-width: 1px !important;
  padding: 0 !important;
  vertical-align: top !important;
}

/* Inherits background for each event from Schedule. */
.fc-event .fc-bg {
  z-index: 1 !important;
  background: inherit !important;
  opacity: .25 !important;
}

/* Normal font weight for the time in each event */
.fc-time-grid-event .fc-time {
  font-weight: normal !important;
}

/* Apply same opacity to all day events */
.fc-ltr .fc-h-event.fc-not-end, .fc-rtl .fc-h-event.fc-not-start {
  opacity: .65 !important;
  margin-left: 12px !important;
  padding: 5px! important;
}

/* Apply same opacity to all day events */
.fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-end {
  opacity: .65 !important;
  margin-left: 12px !important;
  padding: 5px! important;
}